<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================================================
        Spring Mail Sender
            - all settings moved to serverMonitoring.util.mail.impl.CustomMailDeliveryImpl
                to make possible to configure properties from Settings page !!!
     ================================================================================================== -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--<bean id="Transport" class="org.springframework.mail.javamail.JavaMailSenderImpl" />-->
        <!--<property name="host" value="smtp.gmail.com" />-->
        <!--<property name="port" value="587" />-->
        <!--<property name="username" value="***" />-->
        <!--<property name="password" value="***" />-->
        <!--<property name="javaMailProperties">-->
            <!--<props>-->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!--<prop key="mail.smtp.starttls.enable">true</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="CustomMailDelivery" class="serverMonitoring.util.mail.impl.CustomMailDeliveryImpl">-->
        <!--<property name="mailSender" ref="mailSender" />-->
    <!--</bean>-->

</beans>