<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================================================
        Spring Security 3.1 configuration
             - annotations="enabled"
             - authentication-provider="customAuthenticationManager"
             - first Entrance Of AdminHandler
     ================================================================================================== -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- Spring Security annotations -->
    <security:global-method-security secured-annotations="enabled"/>

    <!--  Spring Security autowire the parent property  -->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="customAuthenticationManager"/>
    </security:authentication-manager>

    <!-- Configuration of Spring-Security. Set to false to assign custom filters  -->
    <security:http auto-config="false"
                   access-denied-page="/auth/access_denied"
                   entry-point-ref="authenticationEntryPoint">

        <security:intercept-url pattern="/j_spring_security_check"
                                access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/auth/login"
                                access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/j_spring_security_logout"
                                access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/auth/password_recovery"
                                access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <security:form-login always-use-default-target="false"
                             login-page="/auth/login"
                             authentication-failure-url="/auth/login?error=true"/>
        <security:logout invalidate-session="true"
                         logout-success-url="/auth/login"
                         logout-url="/j_spring_security_logout"/>
        <!--<security:session-management session-authentication-strategy-ref="sas"/>-->
    </security:http>

    <!-- Custom filter for username and password -->
    <bean id="authenticationFilter"
          class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter"
          p:authenticationManager-ref="customAuthenticationManager"
          p:authenticationFailureHandler-ref="customAuthenticationFailureHandler"
          p:authenticationSuccessHandler-ref="customAuthenticationSuccessHandler"
          p:sessionAuthenticationStrategy-ref="sas"/>

    <!-- Session authentication strategy -->
    <bean id="sas"
          class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy"
          p:exceptionIfMaximumExceeded="true"
          p:maximumSessions="1">
        <constructor-arg ref="sessionRegistry"/>
    </bean>

    <!-- Session registry implementation -->
    <bean id="sessionRegistry"
          class="org.springframework.security.core.session.SessionRegistryImpl"/>

    <!--Session registry concurrency control -->
    <bean id="concurrencyFilter"
          class="org.springframework.security.web.session.ConcurrentSessionFilter"
          p:sessionRegistry-ref="sessionRegistry"
          p:expiredUrl="/j_spring_security_logout"/>

    <!-- Custom authentication manager -->
    <bean id="customAuthenticationManager"
          class="serverMonitoring.logic.webFunctionality.UserAuthentication"/>

    <!-- Default failure URL -->
    <bean id="customAuthenticationFailureHandler"
          class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"
          p:defaultFailureUrl="/auth/login?error=true"/>

    <!-- Custom authentication success handler -->
    <bean id="customAuthenticationSuccessHandler"
          class="serverMonitoring.logic.filters.CustomAuthenticationSuccessHandler"/>

    <!-- The authentication entry point -->
    <bean id="authenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
          p:loginFormUrl="/auth/login"/>

</beans>
