<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!--&lt;!&ndash;  Spring Security autowire the parent property  &ndash;&gt;-->
    <!--<security:authentication-manager/>-->

    <!--&lt;!&ndash; Configuration of Spring-Security. Set to false to assign custom filters  &ndash;&gt;-->
    <!--<security:http auto-config="false" use-expressions="true"-->
                   <!--access-denied-page="/auth/denied"-->
                   <!--entry-point-ref="authenticationEntryPoint">-->

        <!--<security:logout invalidate-session="true" logout-success-url="/auth/login/success"-->
                         <!--logout-url="/auth/logout?success"/>-->

        <!--<security:intercept-url pattern="/auth/login" access="permitAll"/>-->
        <!--<security:custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter"/>-->
    <!--</security:http>-->

    <!--&lt;!&ndash; Custom filter for username and password &ndash;&gt;-->
    <!--<bean id="authenticationFilter"-->
          <!--class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter"-->
          <!--p:authenticationManager-ref="customAuthenticationManager"-->
          <!--p:authenticationFailureHandler-ref="customAuthenticationFailureHandler"-->
          <!--p:authenticationSuccessHandler-ref="customAuthenticationSuccessHandler"/>-->

    <!--&lt;!&ndash; Custom authentication manager. !!! Username and password must not be the same !!! &ndash;&gt;-->
    <!--<bean id="customAuthenticationManager"-->
          <!--class="serverMonitoring.logic.service.authentication.UserAuthentication"/>-->

    <!--&lt;!&ndash; default failure URL &ndash;&gt;-->
    <!--<bean id="customAuthenticationFailureHandler"-->
          <!--class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"-->
          <!--p:defaultFailureUrl="/auth/login?error=true"/>-->

    <!--&lt;!&ndash; default target URL here &ndash;&gt;-->
    <!--<bean id="customAuthenticationSuccessHandler"-->
          <!--class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler"-->
          <!--p:defaultTargetUrl="/employee/monitoring"/>-->

    <!--&lt;!&ndash; The AuthenticationEntryPoint &ndash;&gt;-->
    <!--<bean id="authenticationEntryPoint"-->
          <!--class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"-->
          <!--p:loginFormUrl="/auth/login"/>-->
</beans>
